.union-child,
.union-item {
  position: absolute;
  top: 52.52px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 92.65px;
  height: 92.65px;
}
.union-item {
  top: 55.68px;
  left: 314px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.union-inner {
  position: absolute;
  top: 32.87px;
  left: 44px;
}
.ellipse-div,
.union-child1,
.union-child2 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.ellipse-div {
  top: 33.76px;
  left: 269.73px;
  width: 92.65px;
  height: 92.65px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.union-child1,
.union-child2 {
  top: 6.6px;
  left: 92.4px;
  width: 138.28px;
  height: 138.28px;
}
.union-child2 {
  top: 33.16px;
  left: 38.72px;
  width: 228.16px;
}
.union {
  position: relative;
  width: 314px;
  height: 164.84px;
  background-image: url(/public/union@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.welcome-to-the {
  position: absolute;
  top: 55px;
  left: 97px;
  font-weight: 500;
  display: inline-block;
  width: 187px;
}
.button,
.group-icon {
  position: absolute;
  top: 130.6px;
  left: 97px;
}
.group-icon {
  height: 50.19%;
  width: 14.56%;
  top: 34.25%;
  right: 75.56%;
  bottom: 15.57%;
  left: 9.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.step-2 {
  position: relative;
  width: 100%;
  height: 171.44px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-3-size);
  color: var(--color-darkslategray);
  font-family: var(--heading-3);
}
